.competences {
    margin-top: 5px;
    h2 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
    }
}

.experiences {
    margin-top: 5px;
    h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;       
    }
}

.experiences__texte {
    margin-bottom: 10px;
    p {
    text-align: center;
    }
}

.loisirs {
    margin-top: 5px;
    h2 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;     
    }
}

.loisirs__texte {
    margin-bottom: 10px;
    p {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;     
    }
}